@model Flights_manager.Models.Flight.FlightAddViewModel;

@{
    ViewData["Title"] = "AddFlight";
}

<h1>Add a new flight</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFlight">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TakeOffLocation" class="control-label">Take off location</label>
                <input asp-for="TakeOffLocation" class="form-control" />
                <span asp-validation-for="TakeOffLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandingLocation" class="control-label">Landing location</label>
                <input asp-for="LandingLocation" class="form-control" />
                <span asp-validation-for="LandingLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOff" class="control-label">Schedule for take off</label>
                <input asp-for="TakeOff" class="form-control" />
                <span asp-validation-for="TakeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Landing" class="control-label">Schedule for landing</label>
                <input asp-for="Landing" class="form-control" />
                <span asp-validation-for="Landing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypePlane" class="control-label">Type of plane</label>
                <input asp-for="TypePlane" class="form-control" />
                <span asp-validation-for="TypePlane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneId" class="control-label">Plane id</label>
                <input asp-for="PlaneId" class="form-control" />
                <span asp-validation-for="PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotName" class="control-label">Pilots name</label>
                <input asp-for="PilotName" class="form-control" />
                <span asp-validation-for="PilotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailablePassengerSeats" class="control-label">Available passenger seats</label>
                <input asp-for="AvailablePassengerSeats" class="form-control" />
                <span asp-validation-for="AvailablePassengerSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableBusinessClassSeats" class="control-label">Available business class seats</label>
                <input asp-for="AvailableBusinessClassSeats" class="form-control" />
                <span asp-validation-for="AvailableBusinessClassSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
